@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>



    <address>
        <strong>Développeur</strong> <a href="mailto:bdansoko@gmail.com">TontonShino</a><br />
        <strong>Blog</strong> <a href="http://shinobize.com">Le monde de Shinobize</a>
    </address>
</div>