@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="container">
    <h3>Planning Generator - Générateur de Planning</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <iframe src="https://giphy.com/embed/EPlff1MynUFyM" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/work-simpsons-genius-EPlff1MynUFyM">via GIPHY</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <h4>Présentation de l'application</h4>
    </div>
    <div class="row">
        <p class="col">L'application vous propose de générer des plannings comprenant une tranche de jour (ex: du Lund au Jeudi ou Lundi au Dimanche, etc ...) en choisissant également une tranche horaire.
        </p>
        </div>
    <div class="row align-items-center">
        <p class="col">
            Pour générer un planning il vous faudra passer des étapes:
        </p>

    </div>
    <div class="row">
        <ul class="align-items-center">
            <li>Créer les types d'employé [exemple : Temps plein : 7h , demi heure comprise.]</li>
            <li>Créer des employés/personnes</li>
            <li>Créer un groupe d'employés</li>
            <li>Attribuer les employés au groupe concerné</li>

            <li>Créer des postes[de travail]</li>
            <li>Créer un groupe de postes</li>
            <li>Attribuer les postes au groupe concerné</li>
        </ul>
        <p>Vous pourrez ensuite créer un planning et générer ainsi automatiquement le planning en fonction des horaires et autres paramètres</p>
        <p>L'un des objectifs sera également de pouvoir exporter sous Google Agenda, csv etc ... </p>
    </div>

</div>
