@model PlanningGenerator.Models.Pln.GroupPostCat

@{
    ViewData["Title"] = "Création Groupe poste";
}
<div class="container">
    <h4>@ViewData["Title"]</h4>
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateGroup">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="btn btn-group">
                        <input type="submit" value="Créer" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-danger">Retour à la liste</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


