@page
@model LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}
<div class="container-fluid">
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>Vous vous êtes bien déconnecté de l'application. Bravo vous faîtes preuves de sagesse.</p>
    </header>
</div>